extend templates/_template.pug

block title
    | PDFfiller - Test

block content

    .container
        h1 Thank you for choosing to subscribe to PDFfiller services!
        form#formPayment.form-payment(method='POST' action='')
            .form-payment__wrapper-top
                .form-block.form-block-banks
                    +img('banks/visa.svg')
                    +img('banks/mastercard.svg')
                    +img('banks/discover.svg')
                    +img('banks/aexpress.svg')
                .form-block.form-block-cardholder
                    label(for='firstName') Cardholder Name
                    .input-group
                        input(type='text' placeholder='First Name' id='firstName' name='firstName')
                    .input-group
                        input(type='text' placeholder='Last Name' id='lastName' name='lastName')

                .form-block.form-block-cardnunmber
                    label(for='cardNumber') Card Number
                    .input-group
                        input(placeholder='⦁⦁⦁⦁ ⦁⦁⦁⦁ ⦁⦁⦁⦁ ⦁⦁⦁⦁' maxlength='16' id='cardNumber' name='cardNumber')
                .form-block.form-block-expdate
                    label(for='expDateMonth') Exp. Date
                    .select-group.select-group-month
                        select(id='expDateMonth' name='expDateMonth')
                            option(disabled='' selected='') MM
                            option 01
                            option 02
                            option 03
                            option 04
                            option 05
                            option 06
                            option 07
                            option 08
                            option 09
                            option 10
                            option 11
                            option 12
                    span /
                    .select-group.select-group-year
                        select(id='expDateYear' name='expDateYear')
                            option(disabled='' selected='') YYYY
                            option 2020
                            option 2021
                            option 2022
                            option 2023
                            option 2024
                            option 2025
                .form-block.form-block-cvv
                    label(for='cvv') CVV/CVC
                    .input-group
                        input(type='password' placeholder='XXXX' id='cvv' name='cvv' maxlength='4')
                        .input-group__icon
                            +icon-question
                        .input-group__tooltip
                            .input-group__tooltip__left
                                +img('banks/card-visa.svg')
                                p
                                    b Visa, MasterCard
                                    | 3-Digit Verification Number
                            .input-group__tooltip__right
                                +img('banks/card-express.svg')
                                p
                                    b American Express
                                    | 4-Digit Verification Number

                .form-block.form-block-zipcode
                    label(for='zipCode') Zip/Postal Code
                    .input-group
                        input(placeholder='01001' id='zipCode' name='zipCode' maxlength='5')
            .form-payment__wrapper-bottom
                .form-block.form-block-paypal
                    span Or pay with Paypal
                    +a('', '')
                        +img('banks/paypal.png')
                .form-block.form-block-button
                    button(type='submit').btn Start My Subscription for $19.99/mo.