::selection
  bg($bk)
  co($wt)

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite, a
  ff($m-font)
  co($black)

h1
  font(e(20), normal, 1.3)
  mb(22)
  text-align center
  +lg()
    line-height: 0.67;
    fs(24)
    mb(36)

p
  fs(12)
  line-height: 1.41;
  mb(0)

