$column-number = 12
$column-gutter = 30

$breakpoints-count = 3

//names
$row-name = row
$container-name = container
$col-name = col

prefixes = ('' sm md lg xl xxl)
breakpoints = ('' 480 768 1024 '' '')
container-width = (100% r(540) r(630) r(960) r(960) r(960))
// container-width = (100% 100% 100% 100% 100% 100%)


flex-properties = (justify-content align-items align-self)

justify-content-properties = (flex-start flex-end center space-between space-around)
justify-content-flex-prefixes = (start end center between around)
align-items-self-flex-prefixes = (flex-start flex-end center baseline stretch)
align-items-self-properties = (start end center baseline stretch)