html
  font-size $base-font-pixels

html, body
  overflow-x hidden

body
  font(r(16), 400, normal)
  co($black)
  bg($wt)
  ff($m-font)

.container
  width 100%
  mxwir(320)
  pl(15)
  pr(15)
  mc()
  +lg()
    mxwir(660)
    pb(33)
  +xl()
    mxwir(960)
    pb(53)

